COCOON_CLIENT_URL=http://127.0.0.1:8081
COCOON_CHAT_MODEL=Qwen/Qwen3-32B
COCOON_SERVICE_PORT=5050
COCOON_TIMEOUT_MS=120000
JWT_SECRET=RIC9KH65kLSVScdXGAdPt7TCeeKp1A_WirOlBF3ato7ytep2y8b__nGCcO-UGWhehwFrugyKzKljFkIYIpt3_w